= link_to "Create New Interview", new_interview_path, :class => "action"

%h2 Active Interviews

%ul
  - current_user.interviews.active.each do |i|
    %li= link_to_interview i

= separator

%h2 Pending Interviews

%ul
  - current_user.interviews.pending.each do |i|
    %li= link_to_interview i

= separator
= link_to "View Finished Interviews", interviews_path(:status => :finished)

= separator

= link_to "Create New Template", new_template_path, :class => "action"
%h2 Document Templates

%ul
  - current_user.templates.each do |template|
    %li= link_to template.name, template_path(template)
