= semantic_form_for @interview do |form|
  = form.inputs :name, :email, :for => :candidate, :name => "Candidate"
  = form.input :starts_at
  = form.buttons

= link_to "Back to Dashboard", dashboard_path
