- content_for :head do
  = javascript_include_tag "interview"

- if current_user

  %h1= "Interview with #{@candidate.name} (#{@candidate.email})"

  %p= "Scheduled to begin at #{@interview.starts_at.to_s}."

- else

  %p= "Your interview is scheduled to start at #{@interview.starts_at.to_s}."

- if current_user
  %p
    = select_tag :template, options_from_collection_for_select(@templates, "id", "name")
    = js_anchor t("documents.new.title"), "new-document"
    = select_tag :document, options_from_collection_for_select(@documents, "id", "name")
    = js_anchor "Load Document", "load-document"

%p
  - if @interview.current_document
    ~ text_area_tag "interview-document", @interview.current_document.content
  - else
    %textarea#interview-document
      The interview has not yet begun. Add a document to begin. Once the
      interview starts, it will remain active for eight hours.
  %br
  = link_to "Save Document", "javascript:void(0)", :id => "save-document"

%h2 Documents

%ul

  - @interview.documents.each do |doc|
    %li= link_to "Document #{doc.id}", edit_document_path(doc)

%p= link_to "Create New Document", new_document_path(:interview_id => @interview)

%p= link_to "Chat", :controller => :chat, :action => :show, :id => @interview.id
%p= link_to_dashboard

= hidden_field_tag "interview-id", @interview.id
