- content_for :head do
  = javascript_include_tag "jquery.a-tools-1.5.2"
  = javascript_include_tag "diff_match_patch_uncompressed"
  = javascript_include_tag "editor"
  = javascript_include_tag "chat"

- if current_user

  %h1= "Interview with #{@candidate.name} (#{@candidate.email})"

  %p= "Scheduled to begin at #{@interview.starts_at.to_s}."

- else

  %p= "Your interview is scheduled to start at #{@interview.starts_at.to_s}."

- if current_user
  %p
    = select_tag :template, options_from_collection_for_select(@templates, "id", "name")
    = js_anchor t("documents.new.title"), "new-document"
    = select_tag :document, options_from_collection_for_select(@documents, "id", "name", @interview.current_document.andand.id)

%p
  - if @interview.current_document
    ~ text_area_tag "interview-document", @interview.current_document.content
    -# %textarea#interview-document{:contentEditable => true}= @interview.current_document.content
    = hidden_field_tag "patch-level", @interview.current_document.patches.last.andand.id.to_i
  - else
    %textarea#interview-document
      The interview has not yet begun. Add a document to begin. Once the
      interview starts, it will remain active for eight hours.
    = hidden_field_tag "patch-level", 0

#chat
  #public-chat
    %p Chat with the Candidate
    #public-out.chat-out
    = text_field_tag "public-in"

  #private-chat
    %p Chat with the Team
    #private-out.chat-out
    = text_field_tag "private-in"

%p.clearfix= link_to_dashboard

= hidden_field_tag "interview-id", @interview.id
