- if current_user

  %h1= "Interview with #{@candidate.name} (#{@candidate.email})"

  %p= "Scheduled to begin at #{@interview.starts_at.to_s}."

- else

  %p= "Your interview is scheduled to start at #{@interview.starts_at.to_s}."

%h2 Documents

%ul

  - @interview.documents.each do |doc|
    %li= link_to "Document #{doc.id}", edit_document_path(doc)

%p= link_to "Create New Document", new_document_path(:interview_id => @interview)

%p= link_to "Chat", :controller => :chat, :action => :show, :id => @interview.id
%p= link_to_dashboard
