%ul

  - @interview.chat_messages.each do |cm|

    %li= "#{cm.created_at} #{cm.user.andand.email} #{cm.message}"

  %li
    = form_tag do
      = text_field_tag :message
      = submit_tag

%p= link_to "Back to Interview", interview_path(@interview)
