%html

  %head

    %title Jobber

    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "default"
    = stylesheet_link_tag "formtastic"
    = stylesheet_link_tag "formtastic_changes"

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "application"
    = javascript_include_tag "rails"

    = csrf_meta_tag

    = yield :head

  %body

    #jobber-header

      #jobber-name Jobber

      - if current_user
        %ul#account-nav
          %li= current_user.email
          %li= link_to "Dashboard", dashboard_path
          %li= link_to "Sign Out", "/sign_out"

    #jobber-body= yield
